version: "3.8"

services:
  zookeeper:
    image: 'bitnami/zookeeper:latest'
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka:
    image: 'bitnami/kafka:latest'
    ports:
      - '9092:9092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper

  manager:
    image: sheepkiller/kafka-manager
    ports:
      - 9000:9000
    environment:
      - ZK_HOSTS=zookeeper:2181
    depends_on:
      - zookeeper

  mongo:
    image: mongo:5.0.8
    restart: on-failure
    ports:
      - "27017:27017"
    volumes:
      - mongo-data-db:/data/db
      - mongo-data-configdb:/data/configdb
    environment:
      MONGO_INITDB_ROOT_USERNAME: accounting
      MONGO_INITDB_ROOT_PASSWORD: s3cr3t
    networks:
      - accounting

  mariadb:
    image: ivonet/mariadb
    volumes:
      - ./volumes/mariadb/setup:/docker-entrypoint-initdb.d
      - ./volumes/mariadb/testdata/mariadb:/testdata
      - mariadb-data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - MARIADB_ROOT_PASSWORD=s3cr3t
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=true
      - MARIADB_MYSQL_LOCALHOST_USER=accounting
    networks:
      - accounting
    restart: unless-stopped

  postgres:
    container_name: postgres_container
    image: postgres:9.6.24
    environment:
      POSTGRES_USER: accounting
      POSTGRES_PASSWORD: s3cr3t
      PGDATA: /data/postgres
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: postgres
    volumes:
      - postgres-data:/data/postgres
      - ./volumes/postgresql/setup:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - accounting
    restart: unless-stopped

volumes:
  zookeeper_data:
  kafka_data:
  mariadb-data:
  mongo-data-db:
  mongo-data-configdb:
  postgres-data:

networks:
  accounting:
    driver: bridge
